<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div class="row">
        <div id="close_price" style="width:1300px;height:800px;"></div>
    </div>

	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function(){

        var endpoint = '/api/chart/close'
		var stockName = stockDate = stockClose = []

		$.ajax({
		    method: "GET",
		    url: endpoint,
		    success: function(data){
		        stockDate = data.stock_date
		        stockClose = data.stock_close
		        stockname = data.stock_name
		        stockChart()

		    },
		    error: function(error_data){
		        console.log("error")
		    },
		})

		function stockChart(){
		    var data = [{
		        x: stockDate,
		        y: stockClose,
		        type: 'bar',
		        orientation: 'v',
		        marker: {
		            color: '#23b7e5',
		        },
		    }];
		    var layout = {
		        title: 'Market Close',
		        margin: {l:200},
		    };

		    Plotly.newPlot('close_price', data, layout);
		}

		})

	</script>

</body>
</html>